
    .main-footer {
        background-color:var(--Grisclaro);
        margin: 0px;        
    }
    
    .main-footer section {
        text-align: center;
        margin-bottom: 5px;
        width: 100%;
    }
        
    .main-footer section i {
        width: 2em;
        height: 0em;
        margin-bottom: 5px;
        text-align: center;
        color: var(--Celeste);
        font-size: x-large;
    }
    .main-footer section i:hover{
        color:blue
    }
    
    .main-footer section h4 {
        text-align: center;
        height: 18px;
        width: 100%;
    }
    
    .main-footer section p {
        text-align: center;
        font-size: var(--Cuerpodetexto);
        font-weight: lighter;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: var(--Cuerpodetexto);
    }
        
    .main-footer div {
        font-weight: lighter;
        margin: 0px;
        padding: 0px;
    }

@media screen and (min-width:361px){
    .main-footer {
        background-color: var(--Grisclaro);
        margin: 0px;
    }
    
    .main-footer section {
        text-align: center;
        margin-bottom: 5px;
        width: 100%;
    }
    
    .main-footer section i {
        width: 2em;
        height: 0em;
        margin-bottom: 10px;
        text-align: center;
        color: var(--Celeste);
        font-size: x-large;
    }
    
    .main-footer section h4 {
        text-align: center;
        height: 18px;
        width: 100%;
    }
    
    .main-footer section p {
        text-align: center;
        font-size: var(--Cuerpodetexto);
        font-weight: lighter;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: var(--Cuerpodetexto);
    }
    
        
    .main-footer .copy {
        font-weight: lighter;
        margin: 0px;
        padding: 0px;
    }
    .main-footer .copy p{
        margin-bottom: 0px;
    }
}
@media screen and (min-width:769px){
    .main-footer {
        background-color: var(--Grisclaro);
        margin: auto;
    }
    
    .main-footer section {
        text-align: center;
        margin-bottom: 5px;
        width: 100%;
    }
    
    .main-footer section i {
        width: 2em;
        height: 0em;
        margin-bottom: 10px;
        text-align: center;
        color: var(--Celeste);
        font-size: x-large;
    }
    
    .main-footer section h4 {
        text-align: center;
        height: 18px;
        width: 100%;
    } 
      
    .main-footer section p {
        text-align: center;
        font-size: var(--Cuerpodetexto);
        font-weight: lighter;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: var(--Cuerpodetexto);
    }
    
    .main-footer div {
        font-weight: lighter;
        margin: 0px;
        padding: 0px;
    }
}