@media screen and (max-width:360px) {
    .header1 {
        background-color: var(--Amarillo);
        margin: 0px;
        height: 175px;
        width: 100%;
    }
    .header1 .headercomp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .header1 .headercomp img {
        width: 50%;
        margin: 10px 0 0 0;
    }

    .header1 .headercomp form {
        width: 50%;
        display: inline;
        margin: 20px 0;
    }

    .header1 .headercomp form input {
        display: inline;
        background-color: var(--Grisclaro);
        color: var(--Grisclaro);
        padding: 3px;
        font-size: small;
        border-radius: 3px;
        margin: 0 11px;
        width: 130px;
    }
    .header1 .headercomp form .lupa{
        font-size: 14px;
        background-color: var(--Grisclaro);
        padding: 3px;
        border: solid 1px var(--Grisoscuro);
        display: inline;
        position: absolute;
        right: 10px;
        border-radius: 3px;
        border-left: none;
    }

    .header1 .headercomp h4 {
        font-size: 15px;
        margin: auto;
        font-weight: 400;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .header1 nav {
        color: black;
        margin: 0px;
        height: 80px;
        width: 100%;
        display: none;
    }

    .header1 nav ul {
        width: 150px;
        height: 80px;
        padding: 2px;
    }

    .header1 nav ul li {
        margin-left: 5px;
        color: black;
    }

    .header1 nav ul li a {
        text-decoration: none;
    }

    .burger-menu {
        background-color: var(--Celeste);
        text-align: center;
        max-width: 35px;
        padding: 7px 0;
        margin: auto;
        border-radius: 3px;
        font-size: 15px;
        display: block;
    }

    .burger-menu i {
        color: #ebebeb;
    }
}

@media screen and (min-width:361px) {
    .header1 {
        background-color: var(--Amarillo);
        margin: 0px;
        font-family: var(--roboto);
        height: 135px;
    }
    .header1 .headercomp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
    }
   
    .header1 .headercomp img {
        width: 12%;
        margin: 20px;
    }

    .header1 .headercomp form {
        display: inline;
        margin: 20px 0;
    }

    .header1 .headercomp form input {
        display: inline;
        color: var(--Grisclaro);
        padding: 9px;
        width: 300px;
        font-size: large;
        border-radius: 3px;
        border: none;
        margin: 0 11px;
    }
    .header1 .headercomp form .lupa{
        font-size: 11px;
        background-color: #fff;
        padding: 13px;
        display: inline;
        position: absolute;
        right: 282px;
        border-radius: 3px;
        color: var(
        --Grisoscuro);
    }

    .header1 .headercomp h4 {
        font-size: 15px;
        font-weight: 400;
        width: 180px;
        text-align: right;
        margin: 23px 9px 0 90px;
    }

    .header1 nav {
        color: black;
        margin: 0 14px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .header1 nav .listaizq {
        padding: 2px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: space-between;
    }

    .header1 nav .listaizq li {
        color: black;
        margin-left: 5px;
    }

    .header1 nav .listaizq li a {
        text-decoration: none;
    }
    .header1 nav .listader {
        padding: 2px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    .header1 nav .listader li {
        color: black;
        margin-left: 5px;
    }

    .header1 nav .listader li a {
        text-decoration: none;
    }

    .burger-menu {
        background-color: var(--Celeste);
        text-align: center;
        width: 35px;
        height: 35px;
        margin-left: 43%;
        margin: 10px 45% 10px;
        border-radius: 3px;
        display: none;
    }

    .burger-menu i {
        color: #ebebeb;
        padding-top: 9px;
    }
}

@media screen and (min-width:769px) {
    .header1 {
        background-color: var(--Amarillo);
        margin: 0px;
        font-family: var(--roboto);
        height: 176px;
        font-size: var(--Cuerposdetexto);
    }
    .header1 .headercomp{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
    }
    
    .header1 .headercomp img {
        width: 12%;
        margin: 26px;
    }
    .header1 .headercomp form{
        display: inline;
        margin: 20px 0;
    }

    .header1 .headercomp form input {        
        display: inline;
        width: 400px;
        color: var(--Grisclaro);
        padding: 8px;
        font-size: large;
        border-radius: 3px;
        border: none;
    }
    .header1 .headercomp  form .lupa{
        font-size: 12px;
        background-color: white;
        padding: 11px;
        display: inline;
        position: absolute;
        right: 37%;
        border-radius: 3px;
        color: var(--Grisoscuro);
    }

    .header1 .headercomp h4 {
        font-size: var(--Cuerposdetexto);
        text-align: right;
        font-weight: 400;
        width: 311px;
    }

    .header1 nav {
        color: black;
        margin: 14px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .header1 nav .listaizq {
        padding: 2px;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
        font-size: large;
    }

    .header1 nav .listaizq li {
        color: black;
        margin-left: 5px;
    }

    .header1 nav .listaizq li a {
        text-decoration: none;
    }
    .header1 nav .listader {
        padding: 2px;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
        font-size: large;
    }

    .header1 nav .listader li {
        color: black;
        margin-left: 5px;
    }

    .header1 nav .listader li a {
        text-decoration: none;
    }


    .burger-menu {
        background-color: var(--Celeste);
        text-align: center;
        width: 35px;
        height: 35px;
        margin-left: 43%;
        margin-top: 46%;
        border-radius: 3px;
        display: none;
    }

    .burger-menu i {
        color: #ebebeb;
        padding-top: 10px;
    }
}