@media screen and (max-width:360px) {

    .mainML {
        background-color: #ebebeb;
        width: 90%;
        margin: auto;
    }

    .mainML img.banner {
        width: 100%;
        display: none;
    }

    .mainML section {
        margin-left: auto;
        margin-bottom: 10px;
        text-align: center;
    }

    .mainML section h3 {
        font-size: var(--TitularesBasadoentuúltimavisitaOfertas);
        text-align: center;
        font-family: var(--familyfont);
        color: var(--Grisoscuro);
        height: 40px;
        margin-top: 0px;
    }

    .mainML section article {
        background-color: white;
        text-align: center;
        border: solid 1px lightgray;
        margin: auto;
        margin-bottom: 10px;
        width: 320px;
        height: 310px;
    }

    .mainML section article .imgproducto {
        text-align: center;
        width: 58%;
        margin: auto;

    }

    .mainML section article .info {
        border-top: solid 1px var(--Grisclaro);
    }

    .mainML section article .info .envio {
        display: block;
        color: var(--Verde);
        text-align: justify;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid var(--Verde);
        background-color: #FFF;
        border-radius: 50%;
        position: relative;
        margin-left: auto;
        top: -15px;
    }

    .mainML section article .info .Precio {
        font-size: var(--Precios);
        margin: 0 0 0 10px;
        text-align: justify;
    }

    .mainML section article .info .Descuento {
        font-size: var(--Descuentos);
        color: var(--Verde);
        text-align: justify;
        margin: 10px;
    }

    .mainML section article .info .Descripciones {
        font-size: var(--Descripciones);
        margin-left: 10px;
        display: none;
    }
}

@media screen and (min-width:361px) {

    .mainML {
        background-color: #ebebeb;
        width: 100%;
        margin: auto;
    }

    .mainML img.banner {
        width: 100%;
    }

    .mainML section {
        margin-left: auto;
        margin-bottom: 10px;
        text-align: center;
    }

    .mainML section h3 {
        font-size: var(--TitularesBasadoentuúltimavisitaOfertas);
        text-align: left;
        color: var(--Grisoscuro);
        margin: 10px 0 10px 32px;
        height: 40px;
    }

    .mainML section .contart {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mainML section .contart article {
        background-color: white;
        text-align: center;
        border: solid 1px lightgray;
        margin: auto;
        margin-bottom: 10px;
        width: 263px;
        height: 303px;
    }

    .mainML section .contart article .imgproducto {
        text-align: center;
        width: 58%;
        margin: auto;

    }

    .mainML section .contart article .info {
        border-top: solid 1px var(--Grisclaro);
    }

    .mainML section .contart article .info .envio {
        display: block;
        color: var(--Verde);
        text-align: justify;
        font-size: 17px;
        padding: 6px;
        width: 23px;
        height: 24px;
        border: 1px solid var(--Verde);
        background-color: #FFF;
        border-radius: 50%;
        position: relative;
        margin-left: auto;
        top: -20px;
    }
    .mainML section .contart article .info .mover3070{
        display: flex;
    }

    .mainML section .contart article .info .mover3070 .Precio {
        font-size: var(--Precios);
        margin: 0 0 0 10px;
        text-align: justify;
        width: 30%;
    }

    .mainML section .contart article .info .mover3070 .Descuento {
        font-size: var(--Descuentos);
        color: var(--Verde);
        text-align: justify;
        margin: 2px 0 0 10px;
        width: 70%;
    }

    .mainML section .contart article .info .Descripciones {
        font-size: var(--Descripciones);
        margin-left: 10px;
        text-align: justify;
        margin-top: 48px;
        color: var(--Grisoscuro);
    }
}

@media screen and (min-width:769px) {
    .mainML {
        background-color: #ebebeb;
        width: 100%;
        margin: auto;
    }

    .mainML img.banner {
        width: 100%;
    }

    .mainML section {
        margin-left: auto;
        margin-bottom: 10px;
        text-align: center;
    }

    .mainML section h3 {
        font-size: var(--TitularesBasadoentuúltimavisitaOfertas);
        text-align: left;
        font-family: var(--familyfont);
        color: var(--Grisoscuro);
        margin: 10px 0 10px 37px;
        height: 40px;
    }

    .mainML section .contart {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 20px 0 20px;
    }

    .mainML section .contart article {
        background-color: white;
        border: solid 1px lightgray;
        width: 212px;
        height: 295px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .mainML section .contart article .imgproducto {
        text-align: center;
        width: 60%;
        margin: auto;
        height: 60%;
    }

    .mainML section .contart article .info {
        border-top: solid 1px var(--Grisclaro);
    }

    .mainML section .contart article .info .envio {
        display: block;
        color: var(--Verde);
        text-align: justify;
        font-size: 16px;
        padding: 5px;
        width: 23px;
        height: 20px;
        border: 1px solid var(--Verde);
        background-color: #FFF;
        border-radius: 50%;
        position: relative;        
        top: -15px;
    }
    .mainML section .contart article .info .mover3070{
        display: flex;
    }

    .mainML section .contart article .info .mover3070 .Precio {
        font-size: var(--Precios);
        margin: 0 0 0 10px;
        text-align: justify;
        width: 30%;
    }

    .mainML section .contart article .info .mover3070 .Descuento {
        font-size: var(--Descuentos);
        color: var(--Verde);
        text-align: justify;
        margin: 2px 0 0 10px;
        width: 70%;
    }

    .mainML section .contart article .info .Descripciones {
        font-size: var(--Descripciones);        
        padding-top: 18px;
        color: var(--Grisoscuro);
        margin: 0;
    }

}